extends layout

block content
    div.row-fluid
        div.span12
            br
            img(src='/img/resp3D.png')
    div.spacer5
    div.container
        div.row-fluid
            div.span12
                div.span8.pull-left
                    h2
                        a(href='#').brand
                            img(src='/img/resp3D_icon.png', height='42', width='42')
                        &nbsp;Responsive 3D
                    h3  A new way of Connection
                    p.
                        Upload and publish your 3D Models where ever when ever and on every device you want.
                        Repsonsive 3D is a totaly new way for Artists for presenting their work for their clients all around the world. <br />
                        We use WebGL, three.js and HTML5 to delivier fully real-time rendered support for all your 3D Models.
                        You can upload your models easily via our interface and share them.
                    p.
                        All you need to show your models is the URL of this page and an Account for our service.
                        just log in and use you uploaded Models from every place around the world.
