extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  p Upload Form:
  form(action="/upload", method="post", enctype="multipart/form-data")
    input(type="file", name="modelFile")
    br
    input(type="submit")