extends layout

block content
	h1= title
	//h4 Welcome to #{title}, please Sign in to upload files
	br
	p Upload Form:
	form(action="/upload", method="post", enctype="multipart/form-data")
		input(type="file", name="modelFile", value="Choose File")
		br
		br
		input.btn.btn-primary(type="submit", value="Send File")