doctype 5
html
  head
    title=title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    // Bootstrap
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='/javascripts/jquery-1.10.0.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          button(type='button')(data-toggle='collapse')(data-target='.nav-collapse').btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/').brand
            img(src='/img/resp3D_icon.png', width='26', height='26')
            &nbsp&nbsp#{title}
          div.nav-collapse.collapse
            ul.nav
              if currentUser.admin
                li
                  a(href='/users') Userlist
              if currentUser.username
                li
                  a(href='/user/dashboard') Dashboard
                li
                  a(href='/user/upload') Upload
            ul.nav.pull-right
              if currentUser.username
                li.dropdown
                  a(href="#", data-toggle="dropdown").dropdown-toggle #{currentUser.username}
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='/user/logout') Logout
              else
                li
                  a(href='/') Home
                li
                  a(href='/about') About
                li
                  a(href='/user/signin') Sign in
    div.container
      div.content
        br
        block content
