extends layout

block content

	script(src='javascripts/ThreeJS/three.min.js')
	script(src='javascripts/ThreeJS/OBJLoader.js')  
	script(src='javascripts/ThreeJS/Detector.js')
	script(src='javascripts/ThreeJS/stats.min.js')
	script(src='javascripts/ThreeJS/setup.js')
	style(text/css)
		#container3D{
			width: 900px;
		}
	h1= title
	br
	div#container3D.well
	br
	a(href='/') go back to Home