extends layout

block content

	script(src='javascripts/ThreeJS/three.min.js')
	script(src='javascripts/ThreeJS/OBJLoader.js')  
	script(src='javascripts/ThreeJS/Detector.js')
	script(src='javascripts/ThreeJS/stats.min.js')
	script(src='javascripts/ThreeJS/setup.js')
	h1= title
	p Welcome to #{title}
	div#container3D
	br
	a(href='/') go back to Home